[package]
name = "sanskrit-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
csv = "1.1.6"
multimap = "0.8.3"
regex = "1.6.0"
