<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,"><!-- Avoid favicon requests: https://stackoverflow.com/a/38917888 -->
  <title>Vidyullekha</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@indic-transliteration/sanscript@1.2.7/sanscript.min.js"></script>
  <script type="module" src="/static/app.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <style type="text/css">
    .a-underline a {
        text-decoration: underline;
    }
  </style>
</head>

{% set project_link = "https://github.com/ambuda-org/vidyut/tree/main/vidyut-prakriya" %}
{% set gh_issues = "https://github.com/ambuda-org/vidyut/issues" %}

{% macro td(name) %}
<td class="p-1">
  <template x-for="(pada, i) in {{ name }}">
    <span>
      <span x-show="i !== 0">, </span><a
          href="#"
          class="hover:underline"
          @click.prevent="setActivePada(pada)"
          x-text="deva(pada.text)"
          >
    </a></span>
  </template>
</td>
{% endmacro %}


{% macro tabs() %}
<ul class="flex my-4">
  <a class="py-2 mr-4" href="#" :class="tab('tin')" @click.prevent="setTab('tin')">{{ 'tiGantAni'|d }}</a>
  <a class="py-2 mr-4" href="#" :class="tab('krt')" @click.prevent="setTab('krt')">{{ 'kRdantAni'|d }}</a>
  {# <a class="py-2 mr-4" href="#" :class="tab('sup')" @click.prevent="setTab('sup')">{{ 'subantAni'|d }}</a> #}
  <a class="py-2 mr-4" href="#" :class="tab('about')" @click.prevent="setTab('about')">About</a>
</ul>
{% endmacro %}


{% macro prakriya_table() %}
<table class="border min-w-xl">
  <caption class="font-bold text-2xl text-left mb-2" x-text="deva(prakriya.text)"></caption>
  <thead class="font-bold text-left border-b">
    <tr>
      <th class="py-2 px-4">{{ 'sUtram'|d }}</th>
      <th class="py-2 px-4"></th>
      <th class="py-2 px-4">Result</th>
    </tr>
  </thead>
  <tbody>
    <template x-for="step in prakriya.history">
      <tr>
        <td class="py-2 px-4">
          <a class="text-blue-500 underline"
              x-text="deva(step.rule).replaceAll('।', '.')"
              target="_blank"
              :href="'https://ashtadhyayi.com/sutraani/' + step.rule"></a>
        </td>
        <td class="py-2 px-4" x-text="await sutraText(step.rule)"></td>
        <td class="py-2 px-4" x-text="devaNoSvara(step.result)"></td>
      </tr>
    </template>
    <tr>
      <td></td>
      <td></td>
      <td x-text="deva(prakriya.text)" class="py-2 px-4 font-bold"></td>
    </tr>
  </tbody>
</table>
{% endmacro %}


{% macro dhatu_tinantas() %}
<template x-if="activeDhatu">
<div>
  <button class="bg-slate-600 text-white rounded p-2 hover:bg-slate-800" @click="clearActiveDhatu">
    &times; <span x-text="devaNoSvara(activeDhatu.upadesha)"></span>
  </button>
  <template x-if="activePada">
    <button class="bg-slate-600 text-white rounded p-2 hover:bg-slate-800" @click="clearActivePada">
      &times; <span x-text="deva(activePada.text)"></span>
    </button>
  </template>
  <header class="text-center">
    <h1 class="font-bold text-3xl" x-text="devaNoSvara(activeDhatu.upadesha)"></h1>
    <p x-text="deva(activeDhatu.artha)"></p>
  </header>

  <template x-if="prakriya">
    <div>
      {{ prakriya_table() }}
    </div>
  </template>

  <div x-show="!activePada">
    <div>
      <label>{{ 'prayogaH'|d }}</label>
      <select x-model="prayoga" class="p-2 bg-white rounded border">
        <option :value="Prayoga.Kartari" x-text="deva('kartari')"></option>
        <option :value="Prayoga.Karmani" x-text="deva('karmaRi')"></option>
      </select>

      <label>{{ 'sanAdi'|d }}</label>
      <select x-model="sanadi" class="p-2 bg-white rounded border">
        <option value="">(none)</option>
        <option :value="Sanadi.San" x-text="deva('sannante')"></option>
        <option :value="Sanadi.Nic" x-text="deva('Rijante')"></option>
        <option :value="Sanadi.Yan" x-text="deva('yaNante')"></option>
      </select>
    </div>

    <template x-for="la in createTinantas()">
      <section>
        <h1 x-text="la.title"></h1>

        <template x-if="la.Parasmai">
          <table class="w-full my-4 text-left table-fixed text-xl border">
            <tr>
                {{ td("la.Parasmai[0]") }}
                {{ td("la.Parasmai[1]") }}
                {{ td("la.Parasmai[2]") }}
            </tr>
            <tr>
                {{ td("la.Parasmai[3]") }}
                {{ td("la.Parasmai[4]") }}
                {{ td("la.Parasmai[5]") }}
            </tr>
            <tr>
                {{ td("la.Parasmai[6]") }}
                {{ td("la.Parasmai[7]") }}
                {{ td("la.Parasmai[8]") }}
            </tr>
          </table>
        </template>

        <template x-if="la.Atmane">
          <table class="w-full my-4 text-left table-fixed text-xl border">
            <tr>
                {{ td("la.Atmane[0]") }}
                {{ td("la.Atmane[1]") }}
                {{ td("la.Atmane[2]") }}
            </tr>
            <tr>
                {{ td("la.Atmane[3]") }}
                {{ td("la.Atmane[4]") }}
                {{ td("la.Atmane[5]") }}
            </tr>
            <tr>
                {{ td("la.Atmane[6]") }}
                {{ td("la.Atmane[7]") }}
                {{ td("la.Atmane[8]") }}
            </tr>
          </table>
        </template>
      </section>
    </template>
  </div>

</div>
</template>
{% endmacro %}


{% macro dhatu_krdantas() %}
<template x-if="activeDhatu">
<div>
  <button class="bg-slate-600 text-white rounded p-2 hover:bg-slate-800" @click="clearActiveDhatu">
    &times; <span x-text="devaNoSvara(activeDhatu.upadesha)"></span>
  </button>
  <template x-if="activePada">
    <button class="bg-slate-600 text-white rounded p-2 hover:bg-slate-800" @click="clearActivePada">
      &times; <span x-text="deva(activePada.text)"></span>
    </button>
  </template>

  <header class="text-center">
    <h1 class="font-bold text-3xl" x-text="devaNoSvara(activeDhatu.upadesha)"></h1>
    <p x-text="deva(activeDhatu.artha)"></p>
  </header>

  <template x-if="prakriya">
    <div>
      {{ prakriya_table() }}
    </div>
  </template>
  
  <template x-for="krtType in createKrdantas()">
    <table class="w-full my-4 text-left table-fixed text-xl border">
      <thead>
        <tr class="bg-slate-200">
            <th class="p-2" x-text="deva('kft-pratyaya')"></th>
            <th class="p-2" x-text="deva('kfdanta')"></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="k in krtType">
          <tr class="even:bg-slate-50">
            <th class="p-2" x-text="deva(k.title)"></th>
            <td class="p-2">
              <template x-for="pada in k.padas">
                <a href="#"
                   class="block hover:underline"
                   x-text="deva(pada.text || '-')"
                   @click.prevent="setActivePada(pada)"></a>
              </template>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
</div>
</template>
{% endmacro %}



{% macro dhatu_list() %}
<div x-show="!activeDhatu">

  <input type="text" x-model="dhatuFilter" class="w-full border p-1 my-2"
    placeholder="Type query (भू, bhU, etc.)"/>

  <ol>
    <template x-for="d in filteredDhatus()">
      <li class="my-1">
        <a href="#" @click.prevent="setActiveDhatu(d.code)" class="block hover:bg-slate-50 p-1 text-lg">
          <span class="bg-slate-100 text-slate-700 rounded p-1" x-text="deva(d.code).replaceAll('।', '.')"></span>
          <span class="text-red-700" x-text="devaNoSvara(d.upadesha)"></span>
          <span class="text-slate-600" x-text="deva(d.artha)"></span>
        </a>
      </li>
    </template>
  </ol>
</div>
{% endmacro %}


<body>
<article x-data="app">
  <header class="py-12 bg-slate-100 text-center">
    <h1 class="text-4xl font-bold mb-2">{{ 'vidyullekhA'|d }}</h1>
    <p class="text-slate-800">
    (A demo of <a class="underline" href="{{ project_link }}" target="_blank">vidyut-prakriya</a>.
     Please file bugs <a class="underline" href="{{ gh_issues }}" target="_blank">here</a>.)
    </p>
  </header>

  <div class="max-w-3xl mx-auto text-right">
    <select x-model="script" class="p-2 my-2">
      <option value="devanagari">devanagari</option>
      <option value="iast">iast</option>
      <option value="slp1">slp1</option>
      <option value="itrans">itrans</option>
      <option value="telugu">telugu</option>
      <option value="kannada">kannada</option>
    </select>
  </div>

  <div class="max-w-3xl mx-auto my-8">
    {{ tabs() }}
  
    <section x-show="activeTab === 'tin' || activeTab === 'krt'">
      <div x-show="activeTab === 'tin'">
        {{ dhatu_tinantas() }}
      </div>
      <div x-show="activeTab === 'krt'">
        {{ dhatu_krdantas() }}
      </div>

      {{ dhatu_list() }}
      <p x-show="dhatus.length === 0">Loading &hellip;</p>
    </section>

    <section x-show="activeTab === 'sup'">
      <p>Coming soon.</p>
    </section>

    {% set contact = "https://ambuda.org/about/contact" %}
    {% set mailing_list = "https://groups.google.com/g/ambuda-announce" %}
    <section x-show="activeTab === 'about'">
      <div class="prose a-underline">
        <p class="mb-4">This is an online demo of <a class="italic" href="{{ project_link }}">vidyut-prakriya</a>,
        a Paninian word generator created for the <a href="https://ambuda.org">Ambuda</a> project.</p>

        <p class="mb-4">Please note that this site is <strong>for demonstration
        purposes only</strong>: we have not polished it much, and it might disappear or
        break at any time. We have done our best to keep our generator's output
        high quality, but even so, many of the words or prakriyas here will
        have small errors.</p>

        <p class="mb-4">To notify us of any word or prakriya errors, please <a
            href="{{ gh_issues }}">create an issue</a> on our project's GitHub
        Issues page. Doing so will require a free GitHub account. For general
        comments, please <a href="{{ contact }}">contact us</a> on the Ambuda
        contact page.</p>

        <p>Finally, you can follow along with our work by <a href="{{ mailing_list }}">
        subscribing to our <i>ambuda-announce</i> newsletter</a>. We post
        updates roughly once a month about our project and ongoing work.</p>
      </div>
    </section>
  </div>

</article>
</body>

</html>
